#!/usr/bin/make -f

BUILDDIR = build_dir

# secondly called by launchpad
build:
	mkdir $(BUILDDIR);
	cd $(BUILDDIR); cmake .. \
	                         -DCMAKE_INSTALL_PREFIX=../debian/tmp/usr \
							 -DCMAKE_BUILD_TYPE=Release \
 							 -DBUILD_SHARED_LIBS=ON \
 							 -DBUILD_PYTHON_PACKAGES=OFF \
							 -DADD_PYTHON_PACKAGES_TO_RPM=OFF \
							 -DBUILD_TESTS=OFF \
							 -DINSTALL_BASH_COMPLETION=OFF \
							 -DINSTALL_TESTS=OFF \
							 -Dcomma_DIR=/usr/lib/x86_64-linux-gnu/cmake/comma \
							 -Dsnark_INSTALL_LIB_DIR=lib/x86_64-linux-gnu \
							 -Dsnark_INSTALL_PACKAGE_DIR=lib/x86_64-linux-gnu/cmake/snark \
							 -Dsnark_build_actuators=ON \
							 -Dsnark_build_actuators_wheels=ON \
							 -Dsnark_build_control=ON \
							 -Dsnark_build_graph=ON \
							 -Dsnark_build_graphics=ON \
							 -Dsnark_build_math_fft=ON \
							 -Dsnark_build_geometry=ON \
							 -Dsnark_build_navigation=ON \
							 -Dsnark_build_point_cloud=ON \
							 -Dsnark_build_python=OFF \
							 -Dsnark_build_sensors_dc1394=ON \
							 -Dsnark_build_sensors_velodyne=ON \
							 -Dsnark_build_sensors_vimba=OFF \
							 -Dsnark_build_web=OFF \
							 -Dsnark_build_web_feeds=OFF \
							 -Dsnark_build_imaging=ON \
							 -Dsnark_build_imaging_stereo=OFF
	make -C $(BUILDDIR)

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

# binary-arch:
# 	cd $(BUILDDIR); make install
# 	mkdir debian/tmp/DEBIAN
# 	dpkg-gencontrol -psnark
# 	dpkg --build debian/tmp ..
# super quick and dirty:
#     mkdir debian/tmp/usr/lib -p
#     cp -r $(BUILDDIR)/lib/x86_64-linux-gnu debian/tmp/usr/lib
# there seems to be a bug, most likely in generate_comma_config.cmake
# that installs libraries in build instead of debian/tmp
# (cannot reproduce it locally: locally, installation works,
# but on launchpad it does not

#mkdir debian/tmp/usr/lib -p
#cp -r $(BUILDDIR)/lib/x86_64-linux-gnu debian/tmp/usr/lib
binary-arch:
	cd $(BUILDDIR); make install
	mkdir debian/tmp/DEBIAN
	dpkg-gencontrol -psnark
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean:
	rm -rf $(BUILDDIR)
	rm -f debian/files

.PHONY: binary binary-arch binary-indep clean
